<!DOCTYPE html>
<html lang="tr" class="light-style layout-menu-fixed" dir="ltr" data-theme="theme-default" data-assets-path="~/admin-theme/assets/" data-template="vertical-menu-template-free">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0" />
    <meta name="description" content="" />

    <title>@TempData["Title"] | ProductionApp</title>

    <link rel="icon" type="image/x-icon" href="~/admin-theme/assets/img/favicon/favicon.ico" />

    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Public+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap" rel="stylesheet" />

    <link href="~/admin-theme/assets/vendor/fonts/boxicons.css" rel="stylesheet" />
    <link href="~/admin-theme/assets/vendor/css/core.css" rel="stylesheet" />
    <link href="~/admin-theme/assets/vendor/css/theme-default.css" rel="stylesheet" />
    <link href="~/admin-theme/assets/css/demo.css" rel="stylesheet" />
    <link href="~/admin-theme/assets/vendor/libs/perfect-scrollbar/perfect-scrollbar.css" rel="stylesheet" />
    <link href="~/admin-theme/assets/vendor/libs/apex-charts/apex-charts.css" rel="stylesheet" />
    <script src="~/admin-theme/assets/vendor/js/helpers.js"></script>

    <script src="~/admin-theme/assets/vendor/js/helpers.js"></script>
    <script src="~/admin-theme/assets/js/config.js"></script>
</head>

<body>
    <div class="layout-wrapper layout-content-navbar">
        <div class="layout-container">

            <aside id="layout-menu" class="layout-menu menu-vertical menu bg-menu-theme">
                <div class="app-brand demo">
                    <a asp-area="Admin" asp-controller="Home" asp-action="Index" class="app-brand-link">
                        <span class="app-brand-text demo menu-text fw-bolder ms-2">
                            Production App
                        </span>
                    </a>
                </div>

                <div class="menu-inner-shadow"></div>

                <ul class="menu-inner py-1">
                    <li class="menu-item">
                        <a asp-area="Admin" asp-controller="Home" asp-action="Index" class="menu-link">
                            <i class="menu-icon tf-icons bx bx-home-circle"></i>
                            <div data-i18n="Analytics">Dashboard</div>
                        </a>
                    </li>
                    <li class="menu-header small text-uppercase">
                        <span class="menu-header-text">Pages</span>
                    </li>
                    <li class="menu-item">
                        <a asp-area="Admin" asp-controller="Group" asp-action="List" class="menu-link">
                            <i class="menu-icon tf-icons bx bx-home-circle"></i>
                            <div data-i18n="Analytics">Gruplar</div>
                        </a>
                    </li>
                    <li class="menu-item">
                        <a asp-area="Admin" asp-controller="Stock" asp-action="List" class="menu-link">
                            <i class="menu-icon tf-icons bx bx-home-circle"></i>
                            <div data-i18n="Analytics">Stoklar</div>
                        </a>
                    </li>
                </ul>
            </aside>
            <div class="layout-page">
                <div class="content-wrapper">
                    <div class="container-xxl flex-grow-1 container-p-y">
                        <div class="row">
                            @RenderBody()
                        </div>
                    </div>
                    <footer class="content-footer footer bg-footer-theme">
                        <div class="container-xxl d-flex flex-wrap justify-content-between py-2 flex-md-row flex-column">
                            <div class="mb-2 mb-md-0">
                                © @DateTime.Now.Year ProductionApp
                            </div>
                        </div>
                    </footer>
                </div>
            </div>
        </div>
    </div>

    <script src="~/admin-theme/assets/vendor/libs/jquery/jquery.js"></script>
    <script src="~/admin-theme/assets/vendor/libs/popper/popper.js"></script>
    <script src="~/admin-theme/assets/vendor/js/bootstrap.js"></script>
    <script src="~/admin-theme/assets/vendor/libs/perfect-scrollbar/perfect-scrollbar.js"></script>
    <script src="~/admin-theme/assets/vendor/js/menu.js"></script>
    <script src="~/admin-theme/assets/vendor/libs/apex-charts/apexcharts.js"></script>
    <script src="~/admin-theme/assets/js/main.js"></script>
    <script src="~/admin-theme/assets/js/dashboards-analytics.js"></script>
</body>
</html>
