@model GroupAddDto
@{
    TempData["Title"] = "Grup Ekle";
}
@section Scripts{
    <partial name="_ValidationScriptsPartial" />
}
<div class="container-xxl flex-grow-1 container-p-y">
    <h4 class="fw-bold py-3 mb-1">
        <span class="text-muted fw-light">
            <a asp-area="Admin" asp-controller="Home" asp-action="Index" class="text-dark">
                Dashboard /
            </a>
            <a asp-area="Admin" asp-controller="Group" asp-action="List" class="text-dark">
                Gruplar /
            </a>
        </span>
        @TempData["Title"]
    </h4>
    <div class="row">
        <div class="col-xl">
            <div class="card mb-4">
                <div class="card-body">
                    <form asp-area="Admin" asp-controller="Group" asp-action="Create" method="post">
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <div class="mb-3">
                            <label asp-for="Code" class="form-label">Kod</label>
                            <input asp-for="Code" class="form-control" placeholder="kod" disable readonly>
                            <span asp-validation-for="Code" class="text-danger"></span>
                        </div>
                        <div class="mb-3">
                            <label asp-for="Name" class="form-label">Adı</label>
                            <input asp-for="Name" class="form-control" placeholder="adı">
                            <span asp-validation-for="Name" class="text-danger"></span>
                        </div>
                        <div class="mb-3">
                            <div class="col-md">
                                <label asp-for="Color" class="form-label">Grup Rengi</label>
                                <div class="form-check mb-2">
                                    <input asp-for="Color" class="form-check-input" type="radio" value="primary" id="color-primary" checked="">
                                    <label class="form-check-label" for="color-primary">
                                        <span class="badge bg-label-primary">Mavi</span>
                                    </label>
                                </div>
                                <div class="form-check mb-2">
                                    <input asp-for="Color" class="form-check-input" type="radio" value="secondary" id="color-secondary">
                                    <label class="form-check-label" for="color-secondary">
                                        <span class="badge bg-label-secondary">Gri</span>
                                    </label>
                                </div>
                                <div class="form-check mb-2">
                                    <input asp-for="Color" class="form-check-input" type="radio" value="success" id="color-success">
                                    <label class="form-check-label" for="color-success">
                                        <span class="badge bg-label-success">Yeşil</span>
                                    </label>
                                </div>
                                <div class="form-check mb-2">
                                    <input asp-for="Color" class="form-check-input" type="radio" value="danger" id="color-danger">
                                    <label class="form-check-label" for="color-danger">
                                        <span class="badge bg-label-danger">Kırmızı</span>
                                    </label>
                                </div>
                                <div class="form-check mb-2">
                                    <input asp-for="Color" class="form-check-input" type="radio" value="warning" id="color-warning">
                                    <label class="form-check-label" for="color-warning">
                                        <span class="badge bg-label-warning">Turuncu</span>
                                    </label>
                                </div>
                                <div class="form-check mb-2">
                                    <input asp-for="Color" class="form-check-input" type="radio" value="info" id="color-info">
                                    <label class="form-check-label" for="color-info">
                                        <span class="badge bg-label-info">Açık Mavi</span>
                                    </label>
                                </div>
                                <div class="form-check mb-2">
                                    <input asp-for="Color" class="form-check-input" type="radio" value="dark" id="color-dark">
                                    <label class="form-check-label" for="color-dark">
                                        <span class="badge bg-label-dark">Siyah</span>
                                    </label>
                                </div>
                            </div>
                        </div>
                        <a asp-area="Admin" asp-controller="Group" asp-action="List" class="btn btn-dark">
                            <i class='bx bx-arrow-from-right'></i>
                            Listeye geri dön
                        </a>
                        <button type="submit" class="btn btn-success">
                            <i class="bx bx-save"></i>
                            Kaydet
                        </button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>